/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: normal 16px sans-serif;
  color: #555;
  scroll-behavior: smooth; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 4rem; }

@media (max-width: 50rem) {
  section {
    padding: 3.125rem 1.25rem; } }

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5; }

section .title {
  text-transform: capitalize;
  font: bold 2rem "Open Sans", sans-serif;
  margin-bottom: 1.875rem;
  text-align: center; }

section p {
  max-width: 48.4375rem;
  line-height: 2;
  padding: 0 1.25rem;
  margin-bottom: 1.875rem;
  text-align: center; }

ul {
  list-style: none; }

hr {
  width: 15.625rem;
  height: 0.1875rem;
  background-color: forestgreen;
  border: 0;
  margin-bottom: 3.125rem; }

a {
  color: #fff;
  text-decoration: none; }

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* Custom Styles */
/* Main Nav */
nav {
  list-style: none; }

nav a {
  opacity: 0.75;
  transition: all 0.3s ease-out; }

nav a:hover {
  opacity: 1; }

nav li {
  transition: all 0.3s ease-out; }

nav li:hover {
  transform: scale(1.3); }

.btn {
  border: 0.125rem solid darkgreen;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: forestgreen;
  opacity: 1; }

.btn:hover {
  opacity: 0.75; }

/* Main Header */
header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  color: #fff;
  z-index: 1; }

@keyframes fadein {
  100% {
    opacity: 1; } }

header h2 {
  font-family: "Quicksand", sans-serif;
  transition: all 0.3s ease-out; }

header h2:hover {
  transform: scale(1.1); }

header nav {
  display: flex;
  margin-right: -1rem; }

header nav li {
  margin: 0 1rem; }

@media (max-width: 50rem) {
  header {
    padding: 1.25rem 3.125rem;
    flex-direction: column; }
  header h2 {
    margin-bottom: 1rem; } }

/* Hero Styles */
.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff; }

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db; }

.hero h1 {
  font: bold 3.75rem "Open Sans", sans-serif;
  margin-bottom: 1rem; }

.hero h3 {
  font: normal 1.25rem "Open Sans", sans-serif;
  margin-bottom: 2.5rem; }

.hero a.btn {
  padding: 1.25rem 2.875rem; }

.hero-content {
  opacity: 0;
  margin-top: 6.25rem;
  animation: 1s slidefade 1s forwards; }

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-top: 0; } }

@media (max-width: 50rem) {
  .hero {
    min-height: 37.5rem; }
  .hero h1 {
    font-size: 3rem; }
  .hero h3 {
    font-size: 1.5rem; }
  .hero a.btn {
    padding: 1rem 2.5rem; } }

/* Destinations Section */
#destinations .grid li {
  height: 21.875rem;
  padding: 1.25rem;
  background-clip: content-box;
  background-size: cover;
  background-position: center; }

#destinations .grid li.small {
  flex-basis: 30%; }

#destinations .grid li.large {
  flex-basis: 70%; }

#destinations .grid li a {
  display: block;
  width: 100%;
  height: 100%; }

@media (max-width: 68.75rem) {
  #destinations .grid li.small,
  #destinations .grid li.large {
    flex-basis: 50%; } }

@media (max-width: 40rem) {
  #destinations .grid li.small,
  #destinations .grid li.large {
    flex-basis: 100%; } }

/* Packages Section*/
#packages .grid li {
  padding: 3.125rem;
  flex-basis: 50%;
  text-align: center; }

#packages .grid li i {
  color: #2caa5e; }

#packages .grid h4 {
  font-size: 1.875rem;
  margin: 1.5625rem 0; }

@media (max-width: 40rem) {
  #packages .grid li {
    flex-basis: 100%;
    padding: 0.5rem; } }

/* Testimonials */
#testimonials .quote {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 2.5rem 0 1.5625rem; }

#testimonials .author {
  font-weight: 900; }

@media (max-width: 40rem) {
  #testimonials .quote {
    font-size: 1.125rem;
    margin: 1rem 0; }
  #testimonials .author {
    font-size: 0.875rem; } }

/* Contact Section */
#contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%; }

#contact form .btn {
  padding: 1.125rem 2.625rem;
  margin: 1.125rem 0; }

#contact form input {
  padding: 1rem;
  margin-right: 2rem;
  font-size: 1.125rem;
  color: #555;
  flex: 1; }

@media (max-width: 62.5rem) {
  #contact form input {
    flex-basis: 100%;
    margin: 0 0 1.25rem 0; } }

/* Footer Section */
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #389638;
  color: #fff;
  font-weight: 600;
  padding: 1.25rem 0; }

footer ul {
  display: flex; }

footer ul li {
  margin-left: 1rem; }

footer p {
  text-transform: uppercase;
  font-size: 0.875rem;
  opacity: 0.6;
  align-self: center; }

footer i.fa-angle-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.0625rem) translateZ(0);
  transform: perspective(0.0625rem) translateZ(0);
  box-shadow: 0 0 0.0625rem transparent;
  color: #fff;
  transition: 0.5s ease-in-out; }

footer i.fa-angle-up:hover, footer i.fa-angle-up:active, footer i.fa-angle-up:focus {
  animation: 3s ease-in-out 0.5s infinite forwards alternate bounceup; }

footer ul li .fa-long-arrow-up {
  padding-top: 1rem; }

footer a {
  opacity: 0.75;
  transition: all 0.3s ease-out; }

footer a:hover {
  opacity: 1;
  transform: scale(1.1); }

@media (max-width: 68.75rem) {
  footer {
    flex-direction: column; }
  footer p {
    text-align: center;
    margin-bottom: 1.25rem; }
  footer ul li {
    margin: 0 0.5rem; } }

/* Animations */
@keyframes bounceup {
  0% {
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem); }
  25% {
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem); }
  50% {
    -webkit-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem); }
  75% {
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem); }
  100% {
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem); } }
