* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: normal 1rem sans-serif;
  color: #333;
  scroll-behavior: smooth; }

body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  overflow-x: hidden; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 4rem; }
  section .title {
    text-transform: capitalize;
    font: bold 2rem "Open Sans", sans-serif;
    margin-bottom: 1.875rem;
    text-align: center; }
  section p {
    max-width: 48.4375rem;
    line-height: 2;
    padding: 0 1.25rem;
    margin-bottom: 1.875rem;
    text-align: center; }

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5; }

ul {
  list-style: none; }

hr {
  width: 15.625rem;
  height: 0.1875rem;
  background-color: forestgreen;
  border: 0;
  margin-bottom: 3.125rem; }

a {
  color: #fff;
  text-decoration: none; }

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.btn {
  position: relative;
  top: 0;
  border: 0.125rem solid darkgreen;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background: radial-gradient(at bottom left, #228b22 50%, #2aab2a 100%);
  transition: all 0.5s ease-in-out; }
  .btn:hover {
    top: -0.25rem; }

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  color: #fff;
  z-index: 1; }
  header h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.25rem;
    text-shadow: 0 0 0.25rem black;
    transition: all 0.3s ease-out; }
    header h2:hover {
      transform: scale(1.1); }
  header nav ul {
    display: flex;
    margin-right: -1rem;
    list-style: none; }
    header nav ul a {
      font-size: 1rem;
      text-shadow: 0 0 0.25rem black; }
    header nav ul li {
      margin: 0 1rem;
      transition: all 0.3s ease-out; }
      header nav ul li:hover {
        transform: scale(1.3); }

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff; }
  .hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db; }
  .hero h1 {
    font: bold 2.5rem "Open Sans", sans-serif;
    text-shadow: 0 0 0.25rem black;
    margin: 1rem 0; }
  .hero h3 {
    font: normal 1.25rem "Open Sans", sans-serif;
    text-shadow: 0 0 0.25rem black;
    margin-bottom: 2.5rem; }
  .hero a.btn {
    padding: 1rem 2rem; }

.hero-content {
  opacity: 0;
  margin-top: 4rem;
  animation: 1s slidefade 1s forwards; }

#destinations .grid li {
  height: 21.875rem;
  padding: 1.25rem;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  opacity: 0.875;
  transition: all 0.5s ease-in-out; }
  #destinations .grid li:hover {
    opacity: 1; }
  #destinations .grid li.small {
    flex-basis: 30%; }
  #destinations .grid li.large {
    flex-basis: 70%; }

#destinations .grid a {
  display: block;
  width: 100%;
  height: 100%; }

#packages .title {
  transition: all 0.3s ease-in-out; }
  #packages .title:hover {
    color: #2caa5e; }

#packages .grid li {
  padding: 3.125rem;
  flex-basis: 50%;
  text-align: center; }
  #packages .grid li i {
    color: #2caa5e; }

#packages .grid h4 {
  color: #333;
  font-size: 1.875rem;
  margin: 1.5625rem 0; }

#packages .grid p {
  color: #333; }

#testimonials .quote {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 2.5rem 0 1.5625rem; }

#testimonials .author {
  font-weight: 900; }

#contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%; }
  #contact form .btn {
    padding: 1.125rem 2.625rem;
    margin: 1.125rem 0; }
  #contact form input {
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1.125rem;
    color: #555;
    flex: 1;
    border-radius: 2rem; }

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #389638;
  color: #fff;
  font-weight: 600;
  padding: 1.25rem 0; }
  footer ul {
    display: flex; }
    footer ul li {
      margin-left: 1rem; }
      footer ul li .fa-long-arrow-up {
        padding-top: 1rem; }
  footer p {
    text-transform: uppercase;
    font-size: 0.875rem;
    opacity: 0.6;
    align-self: center; }
  footer i.fa-angle-up {
    position: relative;
    top: 0.125rem;
    display: inline-block;
    transform: perspective(0.0625rem) translateZ(0);
    box-shadow: 0 0 0.0625rem transparent;
    color: #fff;
    animation: 3s ease-in-out 0.5s infinite forwards alternate bounceup;
    transition: all 0.5s ease-in-out; }
    footer i.fa-angle-up i.fa-angle-up:hover, footer i.fa-angle-up footer i.fa-angle-up:active, footer i.fa-angle-up footer i.fa-angle-up:focus {
      transform: scale(1.1); }
  footer a {
    opacity: 0.75;
    transition: all 0.3s ease-out; }
    footer a:hover {
      opacity: 1;
      transform: scale(1.1); }

@media (max-width: 40rem) {
  nav ul {
    flex-direction: column; }
    nav ul li {
      padding: 0.5rem 0; }
  #destinations .grid {
    flex-direction: column; }
    #destinations .grid li.small, #destinations .grid li.large {
      flex-basis: 100%; }
  #packages .grid li {
    flex-basis: 100%;
    padding: 0.5rem; }
  #testimonials .quote {
    font-size: 1.125rem;
    margin: 1rem 0; }
  #testimonials .author {
    font-size: 0.875rem; } }

@media (max-width: 50rem) {
  section {
    padding: 3.125rem 1.25rem; }
  header {
    padding: 1.25rem 3.125rem;
    flex-flow: column wrap; }
    header h2 {
      display: none; }
  .hero {
    min-height: 37.5rem; }
    .hero h1 {
      font-size: 3rem; }
    .hero h3 {
      font-size: 1.5rem; }
    .hero a.btn {
      padding: 1rem 2.5rem; } }

@media (max-width: 62.5rem) {
  #contact form input {
    flex-basis: 100%;
    margin: 0 0 1.25rem 0; } }

@media (max-width: 68.75rem) {
  #destinations .grid li.small,
  #destinations .grid li.large {
    flex-basis: 50%; }
  footer {
    flex-direction: column; }
    footer footer p {
      text-align: center;
      margin-bottom: 1.25rem; }
    footer footer ul li {
      margin: 0 0.5rem; }
  i.fa-angle-up {
    margin-top: 0.25rem; } }

@keyframes fadein {
  100% {
    opacity: 1; } }

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-top: 0; } }

@keyframes bounceup {
  0% {
    transform: translateY(-0.5rem); }
  25% {
    transform: translateY(-1rem); }
  50% {
    transform: translateY(-0.5rem); }
  75% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(-0.5rem); } }
