* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: normal 1em sans-serif;
  color: #333;
  scroll-behavior: smooth; }

body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 4em; }
  section .title {
    text-transform: capitalize;
    font: bold 2em "Open Sans", sans-serif;
    margin-bottom: 1.875em;
    text-align: center; }
  section p {
    max-width: 48.4375em;
    line-height: 2;
    padding: 0 1.25em;
    margin-bottom: 1.875em;
    text-align: center; }

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5; }

ul {
  list-style: none; }

hr {
  width: 15.625em;
  height: 0.1875em;
  background-color: forestgreen;
  border: 0;
  margin-bottom: 3.125em; }

a {
  color: #fff;
  text-decoration: none; }

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.btn {
  position: relative;
  top: 0;
  border: 0.125em solid darkgreen;
  border-radius: 1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to bottom, #228b22 50%, #31ca31 100%);
  transition: all 0.5s ease-in-out; }

.btn:hover {
  top: -0.25em; }

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 6em 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  color: #fff;
  z-index: 1; }
  header h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    text-shadow: 0 0 0.25em black;
    transition: all 0.3s ease-out; }
  header h2:hover {
    transform: scale(1.1); }
  header nav {
    display: flex;
    margin-right: -1em;
    list-style: none; }
    header nav a {
      font-size: 0.75em;
      text-shadow: 0 0 0.25em black; }
    header nav li {
      margin: 0 1em;
      transition: all 0.3s ease-out; }
    header nav li:hover {
      transform: scale(1.3); }

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff; }
  .hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db; }
  .hero h1 {
    font: bold 2.5em "Open Sans", sans-serif;
    text-shadow: 0 0 0.25em black;
    margin: 1em 0; }
  .hero h3 {
    font: normal 1.25em "Open Sans", sans-serif;
    text-shadow: 0 0 0.25em black;
    margin-bottom: 2.5em; }
  .hero a.btn {
    padding: 1em 2em; }

.hero-content {
  opacity: 0;
  margin-top: 4em;
  animation: 1s slidefade 1s forwards; }

#destinations .grid li {
  height: 21.875rem;
  padding: 1.25em;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  opacity: 0.875;
  transition: all 0.5s ease-in-out; }

#destinations .grid li:hover {
  opacity: 1; }

#destinations .grid li.small {
  flex-basis: 30%; }

#destinations .grid li.large {
  flex-basis: 70%; }

#destinations .grid a {
  display: block;
  width: 100%;
  height: 100%; }

#packages .grid li {
  padding: 3.125em;
  flex-basis: 50%;
  text-align: center; }
  #packages .grid li i {
    color: #2caa5e; }

#packages .grid h4 {
  font-size: 1.875em;
  margin: 1.5625em 0; }

#testimonials .quote {
  font-size: 1.375em;
  font-weight: 300;
  line-height: 1.5;
  margin: 2.5em 0 1.5625em; }

#testimonials .author {
  font-weight: 900; }

#contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%; }
  #contact form .btn {
    padding: 1.125em 2.625em;
    margin: 1.125em 0; }
  #contact form input {
    padding: 1em;
    margin-right: 2em;
    font-size: 1.125em;
    color: #555;
    flex: 1; }

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #389638;
  color: #fff;
  font-weight: 600;
  padding: 1.25em 0; }
  footer ul {
    display: flex; }
    footer ul li {
      margin-left: 1em; }
      footer ul li .fa-long-arrow-up {
        padding-top: 1em; }
  footer p {
    text-transform: uppercase;
    font-size: 0.875em;
    opacity: 0.6;
    align-self: center; }
  footer i.fa-angle-up {
    position: relative;
    top: 0.125em;
    display: inline-block;
    -webkit-transform: perspective(0.0625em) translateZ(0);
    transform: perspective(0.0625em) translateZ(0);
    box-shadow: 0 0 0.0625em transparent;
    color: #fff;
    animation: 3s ease-in-out 0.5s infinite forwards alternate bounceup;
    transition: all 0.5s ease-in-out; }
  footer i.fa-angle-up:hover, footer footer i.fa-angle-up:active, footer footer i.fa-angle-up:focus {
    transform: scale(1.1); }
  footer a {
    opacity: 0.75;
    transition: all 0.3s ease-out; }
  footer a:hover {
    opacity: 1;
    transform: scale(1.1); }

@media (max-width: 40rem) {
  #destinations .grid li.small,
  #destinations .grid li.large {
    flex-basis: 100%; }
  #packages .grid li {
    flex-basis: 100%;
    padding: 0.5em; }
  #testimonials .quote {
    font-size: 1.125em;
    margin: 1em 0; }
  #testimonials .author {
    font-size: 0.875em; } }

@media (max-width: 50em) {
  section {
    padding: 3.125em 1.25em; }
  header {
    padding: 1.25em 3.125em;
    flex-direction: column; }
    header h2 {
      margin-bottom: 1em; }
  .hero {
    min-height: 37.5rem; }
    .hero h1 {
      font-size: 3em; }
    .hero h3 {
      font-size: 1.5em; }
    .hero a.btn {
      padding: 1em 2.5em; } }

@media (max-width: 62.5rem) {
  #contact form input {
    flex-basis: 100%;
    margin: 0 0 1.25em 0; } }

@media (max-width: 68.75rem) {
  #destinations .grid li.small,
  #destinations .grid li.large {
    flex-basis: 50%; }
  footer {
    flex-direction: column; }
  footer p {
    text-align: center;
    margin-bottom: 1.25em; }
  footer ul li {
    margin: 0 0.5em; }
  i.fa-angle-up {
    margin-top: 0.25em; } }

@keyframes fadein {
  100% {
    opacity: 1; } }

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-top: 0; } }

@keyframes bounceup {
  0% {
    -webkit-transform: translateY(-0.125em);
    transform: translateY(-0.125em); }
  25% {
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em); }
  50% {
    -webkit-transform: translateY(-0.125em);
    transform: translateY(-0.125em); }
  75% {
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em); }
  100% {
    -webkit-transform: translateY(-0.125em);
    transform: translateY(-0.125em); } }
