* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font: normal 1em sans-serif;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: #333;
  scroll-behavior: smooth;
  overflow-x: hidden; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 4rem; }
  section .title {
    text-transform: capitalize;
    font: bold 2em "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 1.875rem;
    transition: all 0.3s ease-in-out; }
    section .title:hover {
      color: #2caa5e; }
  section p {
    max-width: 48.4375rem;
    line-height: 2;
    padding: 0 1.25rem;
    margin-bottom: 1.875rem;
    text-align: center; }

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5; }

ul {
  list-style: none; }

hr {
  width: 15.625rem;
  height: 0.1875rem;
  background-color: forestgreen;
  border: 0;
  margin-bottom: 3.125rem; }

a {
  color: #fff;
  text-decoration: none; }

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.btn {
  position: relative;
  top: 0;
  border: 0.125rem solid darkgreen;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background: radial-gradient(at bottom left, #228b22 50%, #2aab2a 100%);
  transition: all 0.5s ease-in-out; }
  .btn:hover {
    top: -0.25rem; }

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 2rem 6rem 0;
  opacity: 0;
  z-index: 1;
  animation: 1s fadein 0.5s forwards; }
  header h2 {
    display: flex;
    font-family: "Quicksand", sans-serif;
    font-size: 1.25em;
    text-shadow: 0 0 0.25rem black;
    transition: all 0.3s ease-out; }
    header h2:hover {
      transform: scale(1.1); }
  header nav ul {
    display: flex;
    flex-direction: column;
    list-style: none; }
    header nav ul li {
      position: relative;
      padding: 0.5rem 0;
      transition: all 0.3s ease-out; }
      header nav ul li:nth-of-type(2) {
        margin-top: 1rem; }
      header nav ul li:first-of-type:hover {
        transform: none; }
      header nav ul li:hover {
        transform: scale(1.3); }
      header nav ul li a {
        font-size: 0.75em;
        text-shadow: 0 0 0.25rem black; }
      header nav ul li #nav-close {
        position: absolute;
        top: -0.125rem;
        right: 0.125rem;
        font-size: 2em; }
  header #menu-toggle {
    justify-self: end;
    position: absolute;
    top: 1rem;
    right: 1rem; }
    header #menu-toggle:hover {
      color: #aaa;
      transition: all 0.3s ease-in-out; }
  header #nav-mobile {
    display: none; }
    header #nav-mobile:target {
      display: flex;
      position: absolute;
      top: 1rem;
      right: 1rem; }

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 35rem;
  color: #fff; }
  .hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #80a3db;
    z-index: -1; }
  .hero h1 {
    font: bold 2.25em "Open Sans", sans-serif;
    text-shadow: 0 0 0.25rem black;
    margin: 2rem 0; }
  .hero h3 {
    font: normal 1em "Open Sans", sans-serif;
    text-shadow: 0 0 0.25rem black;
    margin-bottom: 2.5rem; }
  .hero a.btn {
    padding: 1rem; }

.hero-content {
  opacity: 0;
  margin-top: 4rem;
  animation: 1s slidefade 1s forwards; }

#destinations .grid {
  flex-direction: column; }
  #destinations .grid li {
    height: 21.875rem;
    padding: 1.25rem;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    opacity: 0.875;
    transition: all 0.5s ease-in-out; }
    #destinations .grid li:hover {
      opacity: 1; }
    #destinations .grid li.small, #destinations .grid li.large {
      flex-basis: 100%; }
  #destinations .grid a {
    display: block;
    width: 100%;
    height: 100%; }

#packages .grid li {
  padding: 1rem 0.5rem;
  flex-basis: 100%;
  text-align: center; }
  #packages .grid li i {
    color: #2caa5e; }

#packages .grid h4 {
  color: #333;
  font-size: 1.33em;
  margin: 1.5625rem 0; }

#packages .grid p {
  color: #333; }

#testimonials .quote {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  margin: 2.5rem 0 1.5625rem; }

#testimonials .author {
  font-weight: 900; }

#contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%; }
  #contact form .btn {
    padding: 1.125rem 2.625rem;
    margin: 1.125rem 0; }
  #contact form input {
    color: #555;
    font-size: 1.125em;
    width: 50vw;
    padding: 1rem;
    border-radius: 2rem; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #389638;
  color: #fff;
  font-weight: 600;
  padding: 1.25rem 0; }
  footer ul {
    display: flex; }
    footer ul li {
      margin-left: 1rem; }
      footer ul li .fa-long-arrow-up {
        padding-top: 1rem; }
  footer p {
    font-size: 0.875em;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    opacity: 0.6; }
  footer i.fa-angle-up {
    position: relative;
    top: 0.5rem;
    display: inline-block;
    transform: perspective(0.0625rem) translateZ(0);
    box-shadow: 0 0 0.0625rem transparent;
    color: #fff;
    animation: 3s ease-in-out 0.5s infinite forwards alternate bounceup;
    transition: all 0.5s ease-in-out; }
    footer i.fa-angle-up:hover, footer i.fa-angle-up:active, footer i.fa-angle-ups:focus {
      transform: scale(1.1); }
  footer a {
    opacity: 0.75;
    transition: all 0.3s ease-out; }
    footer a:hover {
      opacity: 1;
      transform: scale(1.1); }

@media (min-width: 60rem) {
  #destinations .grid {
    flex-direction: row; }
    #destinations .grid li.small {
      flex-basis: 30%; }
    #destinations .grid li.large {
      flex-basis: 70%; }
  footer {
    flex-direction: row;
    justify-content: space-around; } }

@media (min-width: 40rem) and (max-width: 60rem) {
  #destinations .grid {
    flex-direction: row; }
    #destinations .grid li.small, #destinations .grid li.large {
      flex-basis: 50%; } }

@media (min-width: 40rem) {
  header {
    justify-content: space-between; }
    header nav ul {
      flex-direction: row; }
      header nav ul li {
        padding: 0 0.5rem; }
        header nav ul li:nth-of-type(2) {
          margin-top: 0; }
    header #menu-toggle, header .toggle {
      display: none; }
    header #nav-mobile {
      display: flex; }
  .hero {
    min-height: 100vh; }
  #packages .grid li {
    flex-basis: 50%; } }

@keyframes fadein {
  100% {
    opacity: 1; } }

@keyframes slidefade {
  100% {
    opacity: 1;
    margin-top: 0; } }

@keyframes bounceup {
  0% {
    transform: translateY(-0.5rem); }
  25% {
    transform: translateY(-1rem); }
  50% {
    transform: translateY(-0.5rem); }
  75% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(-0.5rem); } }
